.card {
  transition: .3s;
  transition-delay: 200ms;
  z-index: auto;
  cursor: pointer;
}


.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-title {
  color: white;
}


.card-image {
  width: 20vw;
  border-radius: 1.5vh;
  overflow: hidden;
  transition: .3s;
  transition-delay: 200ms;
}

.card-image:hover {
  box-shadow: 10px 5px 20px rgba(97, 97, 97, 0.687);
}
