*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.movie-card {
  width: 28vw;
  border-radius: 13px;
  border: 2px solid black;
}