.rating-img {
  height: 3vh;
}
.rating-value {
  font-size: larger;
  margin-right: 2%;
}

.tomate-meter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1%;
}