::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.single-movie {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
}

.movie-details {
  
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 76%;
  width: 30%;
  padding: 4%;
  background-color: rgba(14, 0, 33, 0.848);
  /* -webkit-backdrop-filter: blur(14px); */
  backdrop-filter: blur(14px);
  color: white;
  justify-content: space-between;
}

.movie-trailer {
  
  background-color: rgba(14, 0, 33, 0.848);
  /* -webkit-backdrop-filter: blur(14px); */
  backdrop-filter: blur(14px);
  display: flex;
  width: 60%;
  height: 76%;
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.movie-description {
  padding: 20px 0px 20px 0px;
}

@media screen and (max-width: 700px) {
  .single-movie {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .movie-description {
    padding: 0px 20px 0px 20px;
  }
  .movie-trailer {
    background-color: rgba(14, 0, 33, 0.848);
    -webkit-backdrop-filter: blur(14px);
    display: flex;
    width: 93%;
    height: 40%;
  }
  .movie-details {
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: #87ceeb #ff5621;
    display: flex;
    flex-direction: column;
    height: 54%;
    width: 93%;
    padding: 4%;
    background-color: rgba(14, 0, 33, 0.848);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    color: white;
    justify-content: space-between;
  }
}

